/* ########################################
############# CUSTOM FONTS ################
######################################## */
/* Provide variable fonts as main format. */
@font-face {
  font-family: 'Outfit VF';
  src:
    local('Outfit'),
    url('/assets/fonts/Outfit/Outfit-VariableFont_wght.woff2')
      format('woff2-variations'),
    url('/assets/fonts/Outfit/Outfit-VariableFont_wght.woff')
      format('woff-variations'),
    url('/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf')
      format('truetype-variations');
  font-style: normal;
  font-weight: 300 600;
  font-display: swap;
}

/* Provide static fonts as a fallback. */
@font-face {
  font-family: 'Outfit';
  src:
    local('Outfit'),
    url('/assets/fonts/Outfit/static/Outfit-Regular.woff2') format('woff2'),
    url('/assets/fonts/Outfit/static/Outfit-Regular.woff') format('woff'),
    url('/assets/fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src:
    local('Outfit'),
    url('/assets/fonts/Outfit/static/Outfit-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/Outfit/static/Outfit-SemiBold.woff') format('woff'),
    url('/assets/fonts/Outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src:
    local('Outfit'),
    url('/assets/fonts/Outfit/static/Outfit-Light.woff2') format('woff2'),
    url('/assets/fonts/Outfit/static/Outfit-Light.woff') format('woff'),
    url('/assets/fonts/Outfit/static/Outfit-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
/* ########################################
############# STYLE GUIDE #################
######################################## */
:root {
  --accent: 178 100% 50%;
  --color-primary: #8bacda;
  --color-accent: hsl(var(--accent));
  --color-complementary: #ff9700;
  --color-neutral-50: #ffffff;
  --color-neutral-200: #90abd1;
  --color-neutral-400: #2f415b;
  --color-neutral-600: #14253d;
  --color-neutral-900: #0d192b;

  --font-body: 1.125rem;
  --font-heading: 1.5rem;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --font-weight-thin: 300;

  --spacing: 1.5rem;

  --transition-duration-timing: 150ms ease-in-out;
}
/* ########################################
############# RESET #######################
######################################## */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: inherit;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
}

a {
  display: inline-block;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style-position: inside;
  list-style-type: none;
}

/* ########################################
############# BASIC STYLING ###############
######################################## */
body {
  background-color: var(--color-neutral-900);
  font-size: var(--font-body);
  font-family: 'Outfit', sans-serif;
  @supports (font-variation-settings: normal) {
    font-family: 'Outfit VF', sans-serif;
  }
  font-weight: var(--font-weight-regular);
}

/* ########################################
############# UTILITIES ###################
######################################## */
/* Hide visually but preserve accessibility. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* ########################################
########### COMPONENT STYLING #############
######################################## */
.wrapper {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
}

.card {
  margin-inline: auto;
  padding: var(--spacing);
  width: min(90%, 20em);
  display: grid;
  gap: var(--spacing);

  background-color: var(--color-neutral-600);
  border-radius: 16px;

  color: var(--color-primary);
}

.card-thumbnail {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: url('/assets/images/icon-view.svg') no-repeat center;
    background-color: hsla(var(--accent) / 0.5);
    opacity: 0;
    transition: opacity var(--transition-duration-timing);
  }

  &:hover::after {
    opacity: 1;
  }
}

.card-heading {
  color: var(--color-neutral-50);
  cursor: pointer;
  font-size: var(--font-heading);
  font-weight: var(--font-weight-semibold);
  transition: var(--transition-duration-timing);
  &:hover {
    color: var(--color-accent);
  }
}

.card-body {
  font-weight: var(--font-weight-thin);
}

.card-pills,
.card-pill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-pills {
  column-gap: var(--spacing);
  row-gap: calc(0.5 * var(--spacing));
  flex-wrap: wrap;
}

.card-pill {
  gap: calc(0.25 * var(--spacing));
}

.card-pill--value {
  color: var(--color-accent);
  font-weight: var(--font-weight-semibold);
  & svg path {
    fill: currentColor;
  }
}

.card-pill--time {
  color: var(--color-primary);
  & svg path {
    fill: currentColor;
  }
}

.card-footer {
  padding-top: var(--spacing);
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.5 * var(--spacing));
  align-items: center;
  border-top: 1px solid var(--color-neutral-400);
  font-weight: var(--font-weight-thin);

  & .card-avatar {
    --width: 1.8em;
    max-width: var(--width);
    aspect-ratio: 1;
    border: 1px solid var(--color-neutral-50);
    border-radius: 50%;
  }

  & .card-author {
    color: var(--color-neutral-50);
    text-decoration: none;
    transition: var(--transition-duration-timing);
    &:hover {
      color: var(--color-accent);
    }
  }
}

.footer {
  padding: var(--spacing);
  text-align: center;
  color: var(--color-neutral-50);

  & .footer-icon {
    color: var(--color-accent);
  }

  & .footer-link {
    transition: var(--transition-duration-timing);

    &,
    &:link {
      color: var(--color-neutral-50);
      text-underline-offset: 4px;
    }
    &:visited {
      color: var(--color-neutral-200);
    }
    &:is(:hover, :focus-visible) {
      color: var(--color-accent);
    }
    &:focus-visible {
      outline-color: var(--color-accent);
      text-decoration: none;
    }
    &:active {
      color: var(--color-complementary);
    }
  }
}
